
* {
    box-sizing: border-box;
}

#contents_sub {
    width: 900px;
    height: auto;
    margin: auto;
}


#contents_sub .sub_title {
    background: url(../img/sub_title.png) no-repeat;
    text-indent: -99999px;
    margin-top: 10px;
}

#contents_sub .sub_title.title01 {
    background-position: 0 0;
    width: 290px;
    height: 30px;;
} 

#contents_sub .title_src, h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
    color: #222;
    font-weight: bold;
}
h4 {
    margin: 30px 0 5px 0;
}

form {
    width: 100%;
    height: auto;
}

textarea {
    width: 100%;
    height: 100px;
    white-space: pre-wrap; 
    border: 1px solid darkgrey;
    resize: none;
}

textarea#agreement {
    background-color: lightgray;
    opacity: 0.8;
    
}

.btn_center {
    text-align: center;
    margin: 40px 0 0 20px;
}

.btn a {
    display: inline-block;
    background: url(../img/btn.png) no-repeat;
    text-indent: -999999px;
}

.b_confirm a {
    background-position: 0 -70px;
    width: 100px;
    height: 30px;
}

.b_cancel a {
    background-position: -100px -70px;
    width: 122px;
    height: 30px;
}